<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Guesses</title>
</head>
<body>

<div th:insert="fragments/header :: block-header"></div>

<!-- Inserimento immagine -->
<img th:src="'http://localhost:8080/' + ${photo.url}" width="100%" height="500" style="object-fit: contain;">

<h2> Guesses</h2>
<div th:if="${photo.guesses.size() > 0}">

	<!-- Inserimento google map -->
	<div id="map" style="width: 70%; height: 500px; margin-right: 10px;"></div>
	
	<!-- Elenco tentativi -->
	<div class="guess" th:each="guess : ${photo.guesses}">
	<p><strong>Id:</strong> <span th:text="${guess.id}"></span></p> 
	<p th:if="${session.user.admin || session.user.id == guess.user.id}"><strong>User:</strong><a th:href="@{/profile/{id}(id=${guess.user.id})}" th:text="${guess.user.username}"></a></p> 
	<p th:if="${guess.comment}"><strong>Comment: </strong> <span th:text="${guess.comment}"></span></p>
	<p><strong>Date:</strong> <span th:text="${#temporals.format(guess.createdAt, 'dd-MM-yyyy HH:mm')}"></span></p>  
	<p th:if="${session.user.admin || session.user.id == guess.user.id || session.user.id == guess.user.id}"><a th:href="@{/photo/{photoId}/guess/{guessId}/delete(photoId=${photo.id}, guessId=${guess.id})}">Delete</a></p>
	</div>
</div>
<div th:if="${photo.guesses.size() == 0}">
	<p>There are no guesses for this map yet</p>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrgZTh4zqmHXlGnAF0Zc98Y4zLqHOsJKI&callback=initMap" async defer></script>

<script th:inline="javascript">

	function initMap(){
		var map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 45.4642, lng: 9.1900},
		      zoom: 8,
		    });
		
		/*[# th:each="guess : ${photo.guesses}"]*/
	    var marker = new google.maps.Marker({
	        position: { lat: [[${guess.latitude}]], lng: [[${guess.longitude}]] },
	        map: map,
	        });
		
	    var contentString = '<div><p>Comment: ' + [[${guess.comment}]] + '</p>' + 
	    '<p>Date: ' + [[${#temporals.format(guess.createdAt, 'dd-MM-yyyy HH:mm')}]] + '</p></div>';
	
	
		var infoWindow = new google.maps.InfoWindow({
		content: contentString
		});
	
		marker.addListener('mouseover', function() {
		infoWindow.open(map, marker);
		});
		
		marker.addListener('mouseout', function() {
		infoWindow.close();
		});
	
		/*[/]*/
	}

</script>
</body>
</html>